canvas{
  position:absolute;
  top: 50px;
  left: 0px;
  width: auto;
  /**/
}

nav {
  top: 0px;
  left: 0px;
  position: fixed;
  width:100%;
  text-align: center;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  background: #4b4b4b;
  color: #fff;
  display: block;
  /* set animation */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: Abel, sans-serif;
}

nav.sticky {
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}

.nav-font {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}


.main-text {
  margin-left: 20px;
  margin-right: auto;
  float: left;
  position: absolute;
  font-family: 'Abel', sans-serif;
}

h3 {
  font-family: 'Abel', sans-serif;
}

body {
  top: 40px;
  position: relative;
  width: 100%;
}


.show-off {
  width: 30%;
  float: left;
  overflow: hidden;
}

.twitter-timeline {
  padding-top: 20px;
  margin-left: 60%;
  float: left;
}